<ion-content>
  <ion-list no-border lines="none" style="padding: 0;margin:0%;" text-wrap>
    <ion-radio-group [value]="region" (ionChange)="Selectregion($event)">
    <ion-item>
      <ion-label>1 Región</ion-label>
      <ion-radio slot="start"  value="0"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>2 Región</ion-label>
      <ion-radio slot="start"  value="1"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>3 Región</ion-label>
      <ion-radio slot="start"  value="2"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>4 Región</ion-label>
      <ion-radio slot="start"  value="3"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>5 Región</ion-label>
      <ion-radio slot="start"  value="4"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>6 Región</ion-label>
      <ion-radio slot="start"  value="5"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>7 Región</ion-label>
      <ion-radio slot="start"  value="6"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>8 Región</ion-label>
      <ion-radio slot="start"  value="7"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>9 Región</ion-label>
      <ion-radio slot="start"  value="8"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>10 Región</ion-label>
      <ion-radio slot="start"  value="9"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>11 Región</ion-label>
      <ion-radio  slot="start" value="10"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>12 Región</ion-label>
      <ion-radio  slot="start" value="11"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>13 Región</ion-label>
      <ion-radio  slot="start" value="12"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>14 Región</ion-label>
      <ion-radio  slot="start" value="13"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>15 Región</ion-label>
      <ion-radio  slot="start" value="14"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>16 Región</ion-label>
      <ion-radio  slot="start" value="15"></ion-radio>
    </ion-item>

    </ion-radio-group>
  </ion-list>
</ion-content>
