<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" >
      <ion-menu-button style="color: white;" ></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="content">
        {{_ds.cargandoActivos && _ds.activoRegion  ? 'Actualizando activos de la región '+_ds.activoRegion :  'Crear Emergencia'}}<ion-spinner *ngIf="_ds.cargandoActivos && _ds.activoRegion" color="light" style="margin: 0px 0px -11px 0px;" name="dots"></ion-spinner>
      </div>
    </ion-title>
    <ion-buttons *ngIf="iconEnviando || this._us.enviando" slot="end">
      <ion-button disabled size="small" color="light" >
        <span style="font-size: 15px;">Enviando</span>
         <ion-spinner color="light" name="dots"></ion-spinner>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll="false">
  <div class="map-container" id="map" [style.height]="tab == 0  ? '62%' : '0'">
  </div>
  <div  class="notSignal" *ngIf="!mostrarMapa && !internet && tab == 0"> 
    <label>Sin Internet</label><br>
    <img src="assets/img/not_signal.png" alt="" width="60%">
  </div>
  <ion-fab vertical="top" slot="fixed" horizontal="start" style="margin-top: 18%;" *ngIf="tab == 0" >
    <ion-fab-button size="small" color="botonazul" (click)="geolocate()">
      <ion-icon name="location"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="top" slot="fixed" horizontal="start" style="margin-top: 30%;" *ngIf="tab == 0 && internet" >
    <ion-fab-button size="small" color="botonazul" (click)="changeMap()">
      <ion-icon name="map"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <form [formGroup]="firstFormGroup"  [style.margin-top]="!mostrarMapa && !internet ? '20%' : ''" *ngIf="tab == 0">
  
    <ion-card center>
      <ion-item lines="none" mode="ios" style="position: absolute;right: -5%;top: 0%;--background: transparent;" *ngIf="firstFormGroup.value.activoSeleccionado">
        <ion-buttons  slot="end">
          <ion-button size="small" color="medium" (click)="firstFormGroup.reset()">
            <ion-icon slot="icon-only" name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      ({{dataPosicion.lat}},{{dataPosicion.lng}})<br>
      <h4 *ngIf="dataPosicion.region != ''" style="font-weight: bold;"><span *ngIf="firstFormGroup.value.activoSeleccionado">{{firstFormGroup.value.activoSeleccionado.DESCRIPTION}}<br></span><span *ngIf="firstFormGroup.value.activoSeleccionado">Código: {{firstFormGroup.value.activoSeleccionado.ASSETNUM}}<br></span> Región: {{dataPosicion.region}}</h4>
      <ion-grid *ngIf="existenActivos">
        <ion-row *ngIf="activosEncontrados" style="margin-top: -12%;" (click)="openModalActivos()">
          <ion-col size="9">
            <h4 style="margin: 0;margin-top: 8%;margin-left: 8%;">Seleccione Activo  </h4>
          </ion-col>
          <ion-col size="3" align="left">
            <ion-button shape="circle" class="pulse" ><ion-icon slot="icon-only" name="search"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!activosEncontrados && !nohayActivos" style="margin-bottom: -3%;margin-top: -5%;">
          <ion-col size="9">
            <h4>Cargando activos  </h4>
          </ion-col>
          <ion-col size="3" align="left">
            <ion-spinner name="bubbles"></ion-spinner>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="nohayActivos" style="margin-bottom: -3%;margin-top: -5%;">
          <ion-col size="12">
            <h4>No se han encontrado activos para esta región </h4>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>  
    
  </form>
  <section *ngIf="tab == 1">
    <ion-item lines="none" style="--background: transparent;">
      <ion-button color="botonazul" slot="start" (click)="verAyuda()">
        <ion-icon name="information-circle-sharp" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-title style="display: contents;"><div class="ion-text-wrap">Operatividad y Daño</div></ion-title>
      <ion-button color="botonazul" (click)="tab = 0;(internet ? mostrarMapa = true : '');" slot="end" fill="outline">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
    <form [formGroup]="secondFormGroup">
      <ion-card center>
        <ion-label style="font-size: 17px;">Detalle Emergencia</ion-label>
        <ion-list style="margin-top: 3%;margin-bottom: 3%;">
          <ion-item lines="none" [class.select]="secondFormGroup.value.destino"       >
            <ion-label >Destino</ion-label>
            <ion-select mode="ios" interface="alert" placeholder="Selecciona destino" class="select-text" cancelText="Cancelar" okText="OK" title="Alerta" formControlName="destino" (ngModelChange)="elementChange()">
              <ion-select-option *ngFor="let item of destinosArray" [value]="item.VALUE">{{item.DESCRIPTION}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none" [class.select]="secondFormGroup.value.operatividad">
            <ion-label >Operatividad</ion-label>
            <ion-select mode="ios" interface="alert" placeholder="Selecciona operatividad" class="select-text" cancelText="Cancelar" okText="OK" title="Operatividad" formControlName="operatividad">
              <ion-select-option *ngFor="let item of operatividadArray" [value]="item.VALUE">{{item.DESCRIPTION}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none" [class.select]="secondFormGroup.value.nivelAlerta"       >
            <ion-label >Nivel de alerta</ion-label>
            <ion-select mode="ios" interface="alert" placeholder="Selecciona alerta" class="select-text" cancelText="Cancelar" okText="OK" title="Alerta" formControlName="nivelAlerta">
              <ion-select-option *ngFor="let item of nivelAlertaArray" [value]="item.VALUE">{{item.DESCRIPTION}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none" [class.select]="secondFormGroup.value.elemento" *ngIf="secondFormGroup.value.destino == 'DOH-CAUC' || secondFormGroup.value.destino == 'DOH-ALL'">
            <ion-label >Elemento</ion-label>
            <ion-select mode="ios" interface="alert" placeholder="Selecciona elemento" class="select-text" cancelText="Cancelar" okText="OK" title="Alerta" formControlName="elemento">
              <ion-select-option *ngFor="let item of elementFinal" [value]="item.VALUE">{{item.DESCRIPTION}}</ion-select-option>
              <ion-select-option value="Otro Elemento">Otro Elemento</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none" [class.select]="secondFormGroup.value.competencia">
            <ion-label>Competencia</ion-label>
            <ion-select mode="ios" interface="alert" placeholder="Selecciona competencia" class="select-text"  cancelText="Cancelar" okText="OK" title="Competencia" formControlName="competencia">
              <ion-select-option *ngFor="let item of competencia" [value]="item.valor">{{item.valor}} - {{item.descripcion}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-card>   
    </form>
  </section>
  <section *ngIf="tab == 2">
    <ion-item lines="none" style="--background: transparent;">
      <ion-title style="margin-left: -3%;">Datos adicionales</ion-title>
      <ion-button color="botonazul" (click)="tab = 0;(internet ? mostrarMapa = true : '');" slot="end" fill="outline">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
    <form [formGroup]="thirdFormGroup">
      <ion-card center>
        <ion-item>
          <ion-label position="stacked">Titulo <span style="color:red;font-size: 10px;">*</span></ion-label>
          <ion-textarea formControlName="titulo" placeholder="" clearInput="true" type="" style="--placeholder-color:grey;resize: none;" rows="2" maxlength="100" required></ion-textarea>
        </ion-item>
        <p *ngIf="thirdFormGroup.controls['titulo'].hasError('required') && thirdFormGroup.controls['titulo'].touched" class="p_error">Debes ingresar un resumen<br></p>
        <span style="float: right;margin-right: 2%;">{{thirdFormGroup.value.titulo ? thirdFormGroup.value.titulo.length : '0'}}/100</span>
      </ion-card>
      <ion-card center>
        <ion-item>
          <ion-label position="stacked">Descripción detallada</ion-label>
          <ion-textarea formControlName="descripcion" placeholder="Descripcción detallada" clearInput="true" type="text" style="--placeholder-color:grey;font-size: 14px;" [autoGrow]="true" rows="4" ></ion-textarea>
        </ion-item>
        <!-- <span style="float: right;margin-right: 2%;margin-bottom: 3%;">{{thirdFormGroup.value.descripcion ? thirdFormGroup.value.descripcion.length : '0'}}/300</span> -->
      </ion-card>
      <!-- <ion-card center>
        <ion-item>
          <ion-label position="stacked">Infraestructura Afectada</ion-label>
          <ion-textarea formControlName="infraestructura" placeholder="Agregar infraestructura afectada" clearInput="true" type="text" style="--placeholder-color:grey;font-size: 14px;" [autoGrow]="true" rows="1"></ion-textarea>
        </ion-item>
      </ion-card>
      <ion-card center>
        <ion-item>
          <ion-label position="stacked">Acciones a realizar</ion-label>
          <ion-textarea formControlName="acciones" placeholder="Inidcar acciones a realizar" clearInput="true" type="text" style="--placeholder-color:grey;font-size: 14px;" [autoGrow]="true" rows="1"></ion-textarea>
        </ion-item>
      </ion-card> -->
      <!-- <ion-list style="margin-top: 5%;background: transparent;" lines="none">
        <ion-item-sliding *ngFor="let file of images;let i = index" >
          <ion-item style="--background: transparent;">
            <ion-img [src]="file.data" style="height: 80%;width: 100%;"></ion-img>
          </ion-item>
          <ion-item-options  side="end">
            <ion-item-option expandable color="danger"  (click)="deleteImage(file)"><ion-icon slot="icon-only" name="trash"></ion-icon>Eliminar</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <ion-button expand="block" color="botonazul" (click)="presentActionSheet()">Adjuntar Foto</ion-button> -->
    </form>
  </section>
  <section *ngIf="tab == 3">
    <ion-item lines="none" style="--background: transparent;">
      <ion-title style="margin-left: -3%;">
        <div class="content">
          Datos complementarios
        </div>
      </ion-title>
      <ion-button color="botonazul" (click)="tab = 0;(internet ? mostrarMapa = true : '');" slot="end" fill="outline">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
    <form [formGroup]="thirdFormGroup">
      <ion-card center>
        <ion-item>
          <ion-label position="stacked">Infraestructura Afectada</ion-label>
          <ion-textarea formControlName="infraestructura" placeholder="Agregar infraestructura afectada" clearInput="true" type="text" style="--placeholder-color:grey;font-size: 14px;" [autoGrow]="true" rows="2"></ion-textarea>
        </ion-item>
      </ion-card>
      <ion-card center>
        <ion-item>
          <ion-label position="stacked">Acciones a realizar</ion-label>
          <ion-textarea formControlName="acciones" placeholder="Inidcar acciones a realizar" clearInput="true" type="text" style="--placeholder-color:grey;font-size: 14px;" [autoGrow]="true" rows="2"></ion-textarea>
        </ion-item>
      </ion-card>
      <ion-list style="margin-top: 5%;background: transparent;" lines="none">
        <ion-item-sliding *ngFor="let file of images;let i = index" >
          <ion-item style="--background: transparent;">
            <ion-img [src]="file.data" style="height: 80%;width: 100%;"></ion-img>
          </ion-item>
          <ion-item-options  side="end">
            <ion-item-option expandable color="danger"  (click)="deleteImage(file)"><ion-icon slot="icon-only" name="trash"></ion-icon>Eliminar</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <ion-button expand="block" color="botonazul" (click)="presentActionSheet()">Adjuntar Foto</ion-button>
    </form>
  </section>
  <section *ngIf="tab == 4">
    <ion-item lines="none" style="--background: transparent;">
      <ion-title style="margin-left: -3%;">Resumen</ion-title>
      <ion-button color="botonazul" (click)="tab = 0;(internet ? mostrarMapa = true : '');" slot="end" fill="outline">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-grid style="padding: 0;">
      <ion-row align="center" class="tituloTable" style="background: #093F75;">
        <ion-col size="4" class="cierreTabla"><ion-label style="color: white;">Dato</ion-label></ion-col>
        <ion-col size="5" class="cierreTabla"><ion-label style="color: white;">Información</ion-label></ion-col>
        <ion-col size="3" class="cierreTabla"><ion-label style="color: white;">Estado</ion-label></ion-col>
      </ion-row>
      <ion-row align="center"  style="background: #093f753b;">
        <ion-col size="4" class="cierreTabla"><ion-label style="color: black;">Título</ion-label></ion-col>
        <ion-col size="5" class="cierreTabla"><ion-label style="color: black;">{{thirdFormGroup.value.titulo}}</ion-label></ion-col>
        <ion-col size="3" class="cierreTabla"><ion-icon style="font-size: 23px;" [style.color]="(thirdFormGroup.value.titulo != '' && thirdFormGroup.value.titulo) ? 'green' : 'red'" [name]="(thirdFormGroup.value.titulo != '' && thirdFormGroup.value.titulo) ? 'checkmark-circle': 'alert-circle'"></ion-icon></ion-col>
      </ion-row>
      <ion-row align="center">
        <ion-col size="4" class="cierreTabla"><ion-label style="color: black;">Operatividad</ion-label></ion-col>
        <ion-col size="5" class="cierreTabla"><ion-label style="color: black;">{{secondFormGroup.value.operatividad == "NOOPERATIVO" ? "No Operativo" : secondFormGroup.value.operatividad == "OPERATIVO" ? "Operativo" : secondFormGroup.value.operatividad == "RESTRICCIÓN" ? "Operativo Con Restricción" : 'N/A'}}</ion-label></ion-col>
        <ion-col size="3" class="cierreTabla"><ion-icon style="font-size: 23px;" [style.color]="(secondFormGroup.value.operatividad != '' && secondFormGroup.value.operatividad) ? 'green' : 'red'" [name]="(secondFormGroup.value.operatividad != '' && secondFormGroup.value.operatividad) ? 'checkmark-circle': 'alert-circle'"></ion-icon></ion-col>
      </ion-row>
      <ion-row align="center" style="background: #093f753b;">
        <ion-col size="4" class="cierreTabla"><ion-label style="color: black;">Nivel</ion-label></ion-col>
        <ion-col size="5" class="cierreTabla"><ion-label style="color: black;">{{secondFormGroup.value.nivelAlerta}}</ion-label></ion-col>
        <ion-col size="3" class="cierreTabla"><ion-icon style="font-size: 23px;" [style.color]="(secondFormGroup.value.nivelAlerta != '' && secondFormGroup.value.nivelAlerta) ? 'green' : 'red'" [name]="(secondFormGroup.value.nivelAlerta != '' && secondFormGroup.value.nivelAlerta) ? 'checkmark-circle': 'alert-circle'"></ion-icon></ion-col>
      </ion-row>
      <ion-row align="center"  *ngIf="secondFormGroup.value.destino == 'DOH-CAUC' || secondFormGroup.value.destino == 'DOH-ALL'">
        <ion-col size="4" class="cierreTabla"><ion-label style="color: black;">Elemento</ion-label></ion-col>
        <ion-col size="5" class="cierreTabla"><ion-label style="color: black;">{{secondFormGroup.value.elemento}}</ion-label></ion-col>
        <ion-col size="3" class="cierreTabla"><ion-icon style="font-size: 23px;" [style.color]="(secondFormGroup.value.elemento != '' && secondFormGroup.value.elemento) ? 'green' : 'red'" [name]="(secondFormGroup.value.elemento != '' && secondFormGroup.value.elemento) ? 'checkmark-circle': 'alert-circle'"></ion-icon></ion-col>
      </ion-row>
      <ion-row align="center">
        <ion-col size="4" class="cierreTabla"><ion-label style="color: black;">Mensaje</ion-label></ion-col>
        <ion-col size="8" class="cierreTabla"><p style="color: black;text-align: left;">{{thirdFormGroup.value.descripcion}}</p></ion-col>
      </ion-row>
    </ion-grid>
    <div align="center" >
      <ion-button expand="block"  color="botonazul" (click)="enviar()" [disabled]="!secondFormGroup.valid || !thirdFormGroup.valid || !dataPosicion.lat || !dataPosicion.lng || !dataPosicion.region">
        REPORTAR <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
      </ion-button>
    </div>
  </section>
</ion-content>

<ion-footer *ngIf="footer">
  <ion-toolbar mode="ios">
    <div align="center" >
      <ion-button fill="clear" color="light" (click)="selectTab(tab,false,true)" *ngIf="tab > 0">
        Volver <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="light" (click)="selectTab(tab,true,false)" *ngIf="tab < 4">
        Continuar <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
  <ion-segment [value]="tab" mode="ios" swipeGesture="false" >
    <ion-segment-button  value="1" (click)="selectTab(1)" [ngClass]="tab == 1 ? 'selectTab' : ''">
      <ion-label>Operatividad</ion-label>
      <ion-icon name="construct"></ion-icon>
    </ion-segment-button>
    <ion-segment-button  value="2" (click)="selectTab(2)" [ngClass]="tab == 2 ? 'selectTab' : ''">
      <ion-label>Datos</ion-label>
      <ion-icon name="create"></ion-icon>
    </ion-segment-button>
    <ion-segment-button  value="3" (click)="selectTab(3)" [ngClass]="tab == 3 ? 'selectTab' : ''">
      <ion-label>Adicional</ion-label>
      <ion-icon name="warning"></ion-icon>
    </ion-segment-button>
    <ion-segment-button  value="4" (click)="selectTab(4)" [ngClass]="tab == 4 ? 'selectTab' : ''">
      <ion-label>Resumen</ion-label>
      <ion-icon name="document-text"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-footer>