ion-accordion.accordion-expanding ion-item[slot="header"],
  ion-accordion.accordion-expanded ion-item[slot="header"] {
    background: darkgray !important;
    --ion-color-base:transparent !important;
    --color: var(--ion-color-primary-contrast);
}
.contenido{
    color: #000;
    text-align: justify;
}
ion-label{
    padding-left: 5%;
    text-overflow: initial !important;
    white-space: break-spaces !important;
}