<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" >
      <ion-menu-button style="color: white;" ></ion-menu-button>
    </ion-buttons>
    <ion-title>Pendientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group *ngIf="mostrar" mode="ios" style="margin-bottom: 5%;margin-top: 3%;" [value]="alertas.length > 0 ? alertas[0].id : null">
    <ion-accordion [value]="item.id" *ngFor="let item of alertas;let i = index">
      <ion-item slot="header" color="accordion">
        <ion-badge slot="start" color="medium">{{i+1}}</ion-badge>
        <ion-label style="font-weight: bold;">{{item.titulo}}</ion-label>
      </ion-item>
      <div class="ion-padding contenido" slot="content" align="center">
          <ion-grid>
            <ion-row>
              <p style="color: red;"><span>Pendiente por: </span> {{item.error == 'internet' ? 'Sin conexión a internet' : 'Error desconocido'}}</p>
            </ion-row>
            <ion-row>
              <p style="word-break: break-all;"><span>Descripción:</span> {{item.descripcion}}</p>
            </ion-row>
            <ion-row *ngIf="tipo != 'vialidad'">
              <ion-col size="8" >
                <ion-row>
                  <p><span>Nivel de Alerta:</span> {{item.nivelalerta}}</p>
                </ion-row>
                <ion-row>
                  <p><span>Operatividad:</span> {{item.operatividad}}</p>
                </ion-row>
                <ion-row>
                  <ion-col size="6"><span>Latitud:</span> {{item.lat}}</ion-col>
                  <ion-col size="6"><span>Longitud:</span> {{item.lng}}</ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="4">
                <div align="center">
                  <ion-img [src]="item.foto ? 'data:image/jpeg;base64,'+item.foto.data : 'data:image/jpeg;base64,'+item.name.data" style="height: 100px;"></ion-img>
                </div>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="tipo == 'vialidad'">
              <ion-row>
                <ion-col size="8" >
                  <ion-row>
                    <p><span>Camino:</span> {{item.name}}</p>
                  </ion-row>
                  <ion-row>
                    <p><span>Nivel de Alerta:</span> {{item.nivelalerta}}</p>
                  </ion-row>
                </ion-col>
                <ion-col size="4">
                  <div align="center">
                    <ion-img [src]="item.foto ? 'data:image/jpeg;base64,'+item.foto.data : 'data:image/jpeg;base64,'+item.name.data" style="height: 100px;"></ion-img>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row style="width: 100%;">
                <p><span>Tránsito:</span> {{item.transito}}</p>
              </ion-row>
              <ion-row style="width: 100%;" *ngIf="item.restriccion">
                <p><span>Restricción:</span> {{item.restriccion}}</p>
              </ion-row>
              <ion-row style="width: 100%;" *ngIf="item.elemento">
                <p><span>Elemento:</span> {{item.elemento}}</p>
              </ion-row>
              <ion-row style="width: 100%;">
                <p><span>Competencia:</span> {{item.competencia}}</p>
              </ion-row>
              <ion-row style="width: 100%;">
                <p><span>Fecha Emergencia:</span> {{item.fechaEmergencia | date:'dd/MM/yy hh:mm a'}}</p>
              </ion-row>
              <ion-row style="width: 100%;margin-bottom: 3%;">
                <ion-col size="6"><span>KM Inicio:</span> {{item.km_i}}</ion-col>
                <ion-col size="6"><span>KM Término:</span> {{item.km_f}}</ion-col>
              </ion-row>
              <ion-row style="width: 100%;">
                <ion-col size="6"><span>Latitud:</span> {{item.lat}}</ion-col>
                <ion-col size="6"><span>Longitud:</span> {{item.lng}}</ion-col>
              </ion-row>
            </ion-row>
          </ion-grid>
          <ion-button color="danger" slot="start" expand="block" (click)="eliminarAlerta(item.id,i)">Eliminar</ion-button>
          <ion-button color="medium" slot="end" expand="block" (click)="enviar(item,item.id,i)">Enviar</ion-button>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  
</ion-content>
