<ion-content force-overscroll="false">
  <div>
    <img src="assets/img/logo_gob.png" alt="logo" style="width: 25%;">
    <br>
    <h4>Bienvenido<br>Sistema de Ingreso de Emergencias</h4>
  </div>
  <div>
    <img src="assets/img/logo.png" alt="logo" class="logo">
  </div>
  <div class="formulario">
    <form [formGroup]="form" (ngSubmit)="iniciar()">
      <ion-item lines="none" class="login input" [class.invalid]="!form.controls.user.valid && form.controls['user'].touched">
        <ion-input enterkeyhint="next" formControlName="user" placeholder="Usuario" clearInput="true" type="text" style="--placeholder-color:black;"></ion-input>
      </ion-item>
      <p *ngIf="form.controls['user'].hasError('required') && form.controls['user'].touched" class="mensaje-error"><ion-icon name="alert-circle-outline"></ion-icon>&nbsp;Debes ingresar un usuario</p>  
      <ion-item lines="none" class="login input" [class.invalid]="!form.controls.password.valid && form.controls['password'].touched">
        <ion-input enterkeyhint="enter" enterkeyhint="Ingresar" formControlName="password" [type]="passwordType" placeholder="Contraseña" style="--placeholder-color:black;"></ion-input>
        <ion-icon (click)="showpassword()" slot="end" color="medium" [name]="eye"></ion-icon>
      </ion-item>
      <p *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="mensaje-error"><ion-icon name="alert-circle-outline"></ion-icon>&nbsp;Debes ingresar una contraseña</p>
      <div >
        <ion-button type="submit" class="boton botoninicia" style="width: auto;" [disabled]="!form.valid" expand="block" >INGRESAR</ion-button>
      </div>        
    </form>
  </div>
  <ion-footer>
    <div style="text-align: center;">
      <img src="assets/img/LOGO_IDEMOP_GRIS_BAJADA.png" alt="worker" style="width: 30%;padding-top: 20%;">
    </div>
  </ion-footer>
</ion-content>
