<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" >
      <ion-menu-button style="color: white;" ></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Crear Alerta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll="false">
  <mat-stepper orientation="vertical"  #stepper>
    <mat-step >
      <ng-template matStepLabel>Activo</ng-template>
      <form [formGroup]="firstFormGroup">
        <div class="map-container" id="map">
          <div *ngIf="stepper.selectedIndex == 0" id="custom-button" class="custom-button">
            <div (click)='changeMap()' class="icon-button">
                <ion-icon name="map-outline"></ion-icon>
            </div>
            <div (click)='geolocate()' class="icon-button">
              <ion-icon name="locate-outline"></ion-icon>
            </div>
          </div>
        </div>
        <ion-card center>
          ({{dataPosicion.lat}},{{dataPosicion.lng}})<br>
          <h3 *ngIf="dataPosicion.region != ''" style="font-weight: bold;"><span *ngIf="firstFormGroup.value.activoSeleccionado">{{firstFormGroup.value.activoSeleccionado.activo.DESCRIPTION}} ~ </span> Región: {{dataPosicion.region}}</h3>
          <ion-grid>
            <ion-row *ngIf="activosEncontrados" style="margin-top: -12%;" (click)="openModalActivos()">
              <ion-col size="9">
                <h4 style="margin: 0;margin-top: 8%;margin-left: 8%;">Seleccione Activo  </h4>
              </ion-col>
              <ion-col size="3" align="left">
                <ion-button shape="circle" class="pulse" ><ion-icon slot="icon-only" name="search"></ion-icon></ion-button>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="!activosEncontrados" style="margin-bottom: -3%;margin-top: -5%;">
              <ion-col size="9">
                <h4>Cargando datos nuevos  </h4>
              </ion-col>
              <ion-col size="3" align="left">
                <ion-spinner name="bubbles"></ion-spinner>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>        
      </form>
      <div align="center" >
        <ion-button fill="clear" color="dark" (click)="moverStepperr('next')">
          Continuar <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Operatividad y Daño</ng-template>
        <ion-card center>
          <ion-label style="font-size: 17px;">Operatividad</ion-label>
          <ion-list lines="none" style="margin-bottom: 3%;margin-top: 3%;">
            <ion-radio-group formControlName="operatividad">
              <ion-item style="color: #b4b4b4;font-size: 14px;" *ngFor="let item of operatividadArray" [class.select]="secondFormGroup.value.operatividad == item.VALUE">
                <ion-label>{{item.DESCRIPTION}}</ion-label>
                <ion-radio mode="md" [value]="item.VALUE" slot="start" style="--color-checked:#062A4E;" ></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-card>
        <ion-card center>
          <ion-label style="font-size: 17px;">Nivel de alerta</ion-label>
          <ion-list lines="none" style="margin-bottom: 3%;margin-top: 3%;">
            <ion-radio-group formControlName="nivelAlerta">
              <ion-item style="color: #b4b4b4;font-size: 14px;" *ngFor="let item of nivelAlertaArray" [class.select]="secondFormGroup.value.nivelAlerta == item.VALUE">
                <ion-label>{{item.DESCRIPTION}}</ion-label>
                <ion-radio mode="md" [value]="item.VALUE" slot="start" style="--color-checked:#062A4E;" ></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-card>
        <ion-card center>
          <ion-label style="font-size: 17px;">Destinos</ion-label>
          <ion-list lines="none" style="margin-bottom: 3%;margin-top: 3%;">
            <ion-radio-group formControlName="destino">
              <ion-item style="color: #b4b4b4;font-size: 14px;" *ngFor="let item of destinosArray" [class.select]="secondFormGroup.value.destino == item.code">
                <ion-label>{{item.name}}</ion-label>
                <ion-radio mode="md" [value]="item.code" slot="start" style="--color-checked:#062A4E;" ></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-card>
        <div align="center" >
          <ion-button fill="clear" color="dark" (click)="moverStepperr('previus')">
            Volver <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" color="dark" (click)="moverStepperr('next')">
            Continuar <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <ng-template matStepLabel>Datos Adicioanles</ng-template>
      <form [formGroup]="thirdFormGroup">
        <ion-card center>
          <ion-item>
            <ion-label position="stacked">Título de la Alerta</ion-label>
            <ion-textarea formControlName="titulo" placeholder="Ingrese el título de la Alerta" clearInput="true" type="" style="--placeholder-color:black;resize: none;" rows="2" maxlength="120"></ion-textarea>
          </ion-item>
          <span style="float: right;margin-right: 2%;">{{thirdFormGroup.value.titulo ? thirdFormGroup.value.titulo.length : '0'}}/120</span>
        </ion-card>
        <ion-card center>
          <ion-item>
            <ion-label position="stacked">Descripción del Evento</ion-label>
            <ion-textarea formControlName="descripcion" placeholder="Descripción del Evento" clearInput="true" type="" style="--placeholder-color:black;resize: none;" rows="5" maxlength="2000"></ion-textarea>
          </ion-item>
          <span style="float: right;margin-right: 2%;">{{thirdFormGroup.value.descripcion ? thirdFormGroup.value.descripcion.length : '0'}}/2000</span>
        </ion-card>
      </form>
      <div align="center" >
        <ion-button fill="clear" color="dark" (click)="moverStepperr('previus')">
          Volver <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="dark" (click)="moverStepperr('next')">
          Continuar <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Resumen</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</ion-content>