form{
  background-color: transparent;
}

.map-container {
  width: 100%;
  height: 300px;
}

#container {
  text-align: center;
  height: 300px;
  width: 100%;
}

.notSignal{
  margin: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#container2 {
  text-align: center;
  height: 0%;
  width: 100%;
  left: 0;
  right: 0;
}
section{
  padding: 3%;
  background: #ffffffd9;
}

.custom-button {
  z-index: 1;
  top: 100px;
  margin: -23px 0px 0 15px;
  position: absolute;
  left: 18px;
}

.custom-buttonV {
  z-index: 1;
  top: 100px;
  margin: -15px 0px 0 20px;
  position: absolute;
  left: 18px;
}

.custom-button3 {
  top: 100px;
  margin: 8px 0px 0 15px;
  position: absolute;
  left: 0px;
}

.custom-button2 {
  top: 6px;
  margin: 8px 0px 0 15px;
  position: absolute;
  right: 30px;
}

.custom-button4 {
  top: 6px;
  margin: 8px 0px 0 15px;
  position: absolute;
  right: 15px;
}

.custom-button>div {
  background-color: #003b88b4 !important;
  color: #ffffff !important;
  width: 33px;
  border: 2px solid #ffffffa3;
  height: 32px;
  padding: 0;
  margin-bottom: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
  transition: all 0.3s;
  // border: solid 1px rgba(110, 110, 110, .3)
}

.custom-buttonV>div {
  background-color: #003b88b4 !important;
  color: #ffffff !important;
  width: 33px;
  border: 2px solid #ffffffa3;
  height: 32px;
  padding: 0;
  margin-bottom: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
  transition: all 0.3s;
  // border: solid 1px rgba(110, 110, 110, .3)
}

.custom-button2>div {
  background-color: #003b88b4 !important;
  color: #ffffff !important;
  width: 35px;
  height: 35px;
  padding: 0;
  margin-bottom: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
  transition: all 0.3s;
  border: solid 1px rgba(110, 110, 110, .3)
}

.custom-button3>div {
  background-color: #003b88b4 !important;
  color: #ffffff !important;
  width: 35px;
  height: 35px;
  padding: 0;
  margin-bottom: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
  transition: all 0.3s;
  border: solid 1px rgba(110, 110, 110, .3)
}

.custom-button4>div {
  background-color: #003b88b4 !important;
  color: #ffffff !important;
  width: 35px;
  height: 35px;
  padding: 0;
  margin-bottom: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
  transition: all 0.3s;
  border: solid 1px rgba(110, 110, 110, .3)
}


.coordenadas {
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.coordenadas>span {
  min-width: 160px !important;
  background-color: rgba(0, 108, 183, 0.5);
  color: #FFF;
  border-radius: 15px;
}


::ng-deep .esri-attribution {
  display: none;
}

::ng-deep .mat-vertical-content-container {
  margin-left: -15px !important;
  margin-right: -5%;

}
::ng-deep .mat-vertical-stepper-header {
  padding: 23px 5px;
  height: 0px !important;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #093F75 !important; 
}

::ng-deep .mat-step-header .mat-step-icon-state-done {
  background-color: #093F75 !important; 
}

::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: #093F75 !important; 
}

::ng-deep .esri-widget--button {
  background-color: #003b88b4 !important;
  color: #ffffff !important;
  margin-bottom: 3px !important;
  width: 30px !important;
  height: 30px !important;
}

::ng-deep .esri-ui-corner .esri-component {
  background: transparent !important;
  box-shadow: none;
}

::ng-deep .mat-stepper-vertical {
  background-color: #ffffffc9 !important;
}

::ng-deep .ol-attribution{
  display: none !important;
}

ion-footer{
  display: contents;
}

ion-footer:last-of-type {
  padding-bottom: var(--ion-safe-area-bottom, 0);
}

ion-footer ion-toolbar:last-of-type {
  padding-bottom: var(--ion-safe-area-bottom, 0);
}
ion-segment-button {
  --indicator-color: transparent;
}
.selectTab{
  --indicator-color: #375579;
}
ion-segment{
  --background:#062A4E;
  border-radius: 0;
  padding-bottom: var(--ion-safe-area-bottom);
  padding-top: 2%;
}

:host{
  ::ng-deep .ol-zoom{
    left: 5% !important;
  }
}

ion-card{
  margin: 1%;
  margin-top: 2%;
  padding: 0%;
  text-align: center;
  border:1px solid;
  padding-top: 3%;
}

ion-button[shape=circle] {
  --border-radius: 50%;
  width: 46px;
  height: 46px;
  --background: #1d7d74;
  font-size: 100%;
  margin-left: -50%;
}


.pulse {
  overflow: visible;
  position: relative;
}

.pulse::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1d7d74;
  border-radius: 25px;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s, -webkit-transform .3s;
  -webkit-animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
  animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
  z-index: 1;
}


@-webkit-keyframes pulse-animation {
  0% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  50% {
      opacity: 0;
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
  }
  100% {
      opacity: 0;
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
  }
}

@keyframes pulse-animation {
  0% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  50% {
      opacity: 0;
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
  }
  100% {
      opacity: 0;
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
  }
}

.select{
  // --background: #bababaa1;
  --background: #093F75;
  color:white !important;
  padding-bottom: 1%;
}

.tituloTable{
  border-bottom: 1px solid black;
  font-weight: bold;
}

.cierreTabla{
  // border-right: 1px solid grey;
  padding-top: 3%;
}

.p_error{
  float: right;padding-right: 3%;color: red;font-size: 12px;
}

.select-text{
  width: 60%;
  max-width: 60%;
}

ion-select::part(text) {
  text-overflow: unset;
  white-space: break-spaces;
}