form{
  background-color: transparent;
}

.map-container {
  width: 100%;
  height: 200px;
  // z-index: 1;
}

#container {
  text-align: center;
  height: 200px;
  width: 100%;
  left: 0;
  right: 0;
}
#container2 {
  text-align: center;
  height: 0%;
  width: 100%;
  left: 0;
  right: 0;
}

.custom-button {
  z-index: 1;
  top: 100px;
  margin: -23px 0px 0 15px;
  position: absolute;
  left: 18px;
}
.custom-button3 {
  top: 100px;
  margin: 8px 0px 0 15px;
  position: absolute;
  left: 0px;
}

.custom-button2 {
  top: 6px;
  margin: 8px 0px 0 15px;
  position: absolute;
  right: 30px;
}

.custom-button4 {
  top: 6px;
  margin: 8px 0px 0 15px;
  position: absolute;
  right: 15px;
}

.custom-button>div {
  background-color: #003c8880 !important;
  color: #ffffff !important;
  width: 33px;
  border: 2px solid #ffffffa3;
  height: 32px;
  padding: 0;
  margin-bottom: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
  transition: all 0.3s;
  // border: solid 1px rgba(110, 110, 110, .3)
}

.custom-button2>div {
  background-color: #6FA5DC !important;
  color: #ffffff !important;
  width: 35px;
  height: 35px;
  padding: 0;
  margin-bottom: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
  transition: all 0.3s;
  border: solid 1px rgba(110, 110, 110, .3)
}

.custom-button3>div {
  background-color: #6FA5DC !important;
  color: #ffffff !important;
  width: 35px;
  height: 35px;
  padding: 0;
  margin-bottom: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
  transition: all 0.3s;
  border: solid 1px rgba(110, 110, 110, .3)
}

.custom-button4>div {
  background-color: #6FA5DC !important;
  color: #ffffff !important;
  width: 35px;
  height: 35px;
  padding: 0;
  margin-bottom: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
  transition: all 0.3s;
  border: solid 1px rgba(110, 110, 110, .3)
}


.coordenadas {
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.coordenadas>span {
  min-width: 160px !important;
  background-color: rgba(0, 108, 183, 0.5);
  color: #FFF;
  border-radius: 15px;
}


::ng-deep .esri-attribution {
  display: none;
}

::ng-deep .mat-vertical-content-container {
  margin-left: 17px !important;

}
::ng-deep .mat-vertical-stepper-header {
  padding: 23px 5px;
  height: 0px !important;
}

::ng-deep .esri-widget--button {
  background-color: #6FA5DC !important;
  color: #ffffff !important;
  margin-bottom: 3px !important;
  width: 35px !important;
  height: 35px !important;
}

::ng-deep .esri-ui-corner .esri-component {
  background: transparent !important;
  box-shadow: none;
}

::ng-deep .mat-stepper-vertical {
  background-color: transparent !important;
}

::ng-deep .ol-attribution{
  display: none !important;
}

ion-card{
  margin: 0;
  margin-top: 2%;
  padding: 5%;
  text-align: center;
  border:1px solid
}

ion-button[shape=circle] {
  --border-radius: 50%;
  width: 46px;
  height: 46px;
  --background: #1d7d74;
  font-size: 100%;
}


.pulse {
  overflow: visible;
  position: relative;
}

.pulse::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1d7d74;
  border-radius: 25px;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s, -webkit-transform .3s;
  -webkit-animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
  animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
  z-index: -1;
}


@-webkit-keyframes pulse-animation {
  0% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  50% {
      opacity: 0;
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
  }
  100% {
      opacity: 0;
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
  }
}

@keyframes pulse-animation {
  0% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  50% {
      opacity: 0;
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
  }
  100% {
      opacity: 0;
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
  }
}
