<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" >
      <ion-menu-button style="color: white;" ></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Crear Alerta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll="false">
  <div id="container2"  #mapContainer [style.height]="mostrarMapa2 ? '100%' : '0%'">
    <div id="custom-button" class="custom-button3" *ngIf="mostrarMapa2">
      <div (click)='customZoom()' class="icon-button">
          <ion-icon name="map-outline"></ion-icon>
      </div>
      <div (click)='obtenerGeolocalizacion()' class="icon-button">
        <ion-icon name="locate-outline"></ion-icon>
      </div>
    </div>
    <div id="custom-button2" class="custom-button4"  *ngIf="mostrarMapa2">
      <div (click)='expandir()' class="icon-button">
        <ion-icon name="expand-outline"></ion-icon>
      </div>
    </div>
  </div>
  <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <div id="container"  #mapContainer>
          <div id="custom-button" class="custom-button" *ngIf="!mostrarMapa2">
            <div (click)='customZoom()' class="icon-button">
                <ion-icon name="map-outline"></ion-icon>
            </div>
            <div (click)='obtenerGeolocalizacion()' class="icon-button">
              <ion-icon name="locate-outline"></ion-icon>
            </div>
          </div>
          <div id="custom-button2" class="custom-button2" *ngIf="!mostrarMapa2">
            <div (click)='expandir()' class="icon-button">
              <ion-icon name="expand-outline"></ion-icon>
            </div>
          </div>
        </div>
        <ng-template matStepLabel>Activo</ng-template>
        <!-- <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field> -->
        <div>
          <!-- <button mat-button matStepperNext>Continuar</button> -->
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Operatividad y Daño</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Datos Adicioanles</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Resumen</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</ion-content>