<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" >
      <ion-menu-button style="color: white;" ></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Crear Emergencia
    </ion-title>
  </ion-toolbar>
  <ion-toolbar mode="ios" *ngIf="(mostrarMapa && region == '20') || (!internet && tab == 0 && region == '20')" >
    <ion-searchbar [disabled]="!regionSelec" mode="ios" color="light"  search-icon="distance" placeholder="Buscar camino o rol" style="margin-top: 0%;" (ionCancel)="activosDV()" autoclomplete="'on'" (ionInput)="buscarActivos($event)"></ion-searchbar>
    <ion-buttons  slot="end">
      <ion-button size="small" color="light" (click)="presentPopoverRegion($event)">
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll="false">
    <!-- MAPA -->
    <!-- <ion-item lines="none">
    </ion-item> -->
    <ion-searchbar class="searchContainer" *ngIf="(mostrarMapa && region != '20') || (!internet && tab == 0 && region != '20')" mode="ios" [color]="buscandoActivos.length > 0 ? 'medium' : (basemap == 'topo-vector' ? 'medium' : (!internet ? 'medium' : 'light') ) "  search-icon="distance" placeholder="Buscar camino o rol" style="margin-top: 0%;" (ionCancel)="activosDV()" autoclomplete="'on'" (ionInput)="buscarActivos($event)"></ion-searchbar>
    <div *ngIf="buscandoActivos[0]" style="position: absolute;z-index: 3;width: 100%;background: #eaebee;">
      <ion-accordion-group mode="ios" [style.padding-top]="region != '20' ? '20%' :''">
        <ion-accordion [value]="i" *ngFor="let item of buscandoActivos;let i = index">
          <ion-item slot="header" color="botonazul">
            <ion-badge slot="start" color="medium">Región<br>{{item.region}}</ion-badge>
            <ion-label>{{item.nombre}}</ion-label>
          </ion-item>
          <div class="ion-padding contenido" slot="content">
            <ion-list style="background: #f4f4f4;">
              <ion-item style="--background: transparent;">
                <ion-icon name="distance" slot="start"></ion-icon>
                <p>{{item.nombre}}</p>
              </ion-item>
              <ion-item style="--background: transparent;">
                <ion-icon name="distance" slot="start"></ion-icon>
                <ion-label>KM Inicio: {{item.km_i}}</ion-label>
              </ion-item>
              <ion-item style="--background: transparent;">
                <ion-icon name="distance" slot="start"></ion-icon>
                <ion-label>KM Termino: {{item.km_f}}</ion-label>
              </ion-item>
              <ion-item style="--background: transparent;" lines="none">
                <ion-button (click)="seleccionarActivo(item)" class="botoninicia" slot="end" size="small">Seleccionar</ion-button>
              </ion-item>
            </ion-list>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>
    <div  class="map-container" id="map" [style.height]="mostrarMapa? '100%' : '0'"> 
      <img class="pinCenter" src="assets/img/pin.png" alt="" *ngIf="mostrarMapa && internet">
      <ion-button expand="block" class="buscarCamino"  color="botonazul" shape="round" size="small" (click)="buscarCamino()" *ngIf="mostrarMapa && internet">
        Buscar Camino <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-button>   
    </div>
    <ion-fab horizontal="end" style="margin-top: 10%;" vertical="top" slot="fixed" *ngIf="mostrarMapa && internet" (click)="presentPopover($event)">
      <ion-fab-button size="small" color="botonazul">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <div  class="notSignal" *ngIf="!mostrarMapa && !internet && tab == 0"> 
      <label>Sin Internet</label><br>
      <img src="assets/img/not_signal.png" alt="" width="60%">
    </div>
    <section *ngIf="tab == 1">
      <ion-item lines="none" style="--background: transparent;">
        <ion-title style="margin-left: -3%;">Activo</ion-title>
        <ion-button color="botonazul" (click)="tab = 0;mostrarMapa = true;" slot="end" fill="outline">
          <ion-icon name="close-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
      <form [formGroup]="firstFormGroup">
        <ion-card center >
          <span *ngIf="mostrarMapa && internet">({{dataPosicion.lat}},{{dataPosicion.lng}})</span><br>
          <h4 *ngIf="dataPosicion.region != ''" style="font-weight: bold;margin: 0;">Región: {{dataPosicion.region}}</h4>  
          <ion-grid *ngIf="caminosEncontrados.length > 1" style="margin-top: 5%;">
            <ion-row style="margin-top: -12%;" (click)="openModalCaminos()">
              <ion-col size="9">
                <h4 style="margin: 0;margin-top: 8%;margin-left: 8%;">Seleccione Camino </h4>
              </ion-col>
              <ion-col size="3" align="left">
                <ion-button shape="circle" class="pulse" ><ion-icon slot="icon-only" name="search"></ion-icon></ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
          <div *ngIf="firstFormGroup.value.activoSeleccionado">
            <ion-accordion-group mode="ios" value="first">
              <ion-accordion value="first">
                <ion-item slot="header" color="accordion" >
                  <ion-icon name="distance"></ion-icon>
                  <ion-label>&nbsp; KM estimado: <span  style="color: red;font-weight: bold;">{{km}}</span></ion-label>
                </ion-item>
                <div class="ion-padding contenido" slot="content" style="padding: 0 !important;">
                  <div *ngIf="firstFormGroup.value.activoSeleccionado">
                    <h3 *ngIf="dataPosicion.region != ''" style="font-weight: bold;margin: 0;"><span *ngIf="firstFormGroup.value.activoSeleccionado" style="font-size: 13px;">{{firstFormGroup.value.activoSeleccionado.nombre_camino}}<br>Rol: {{firstFormGroup.value.activoSeleccionado.rol}}<br>Código: {{firstFormGroup.value.activoSeleccionado.codigo}}<br></span></h3>
                    <ion-item lines="none" style="width: 100%;">
                      <ion-label slot="start" style="font-size: 15px;font-weight: bold;width: 30%;">KM Inicio</ion-label>
                      <ion-input formControlName="km_i" mode="ios" placeholder="{{km_i}}" [class.error]="menorI || mayorI || mayorIF" (ionInput)="myFunction($event,'i')" clearInput="true" inputmode="decimal" style="border: 1px solid darkgray;border-radius: 5px;padding-left: 5px !important;"></ion-input>
                    </ion-item>
                    <p *ngIf="menorI" class="p_error">No puede ser menor al km {{km_i}}</p>
                    <p *ngIf="mayorI" class="p_error">No puede ser mayor al km {{km_f}}</p>
                    <p *ngIf="mayorIF" class="p_error">No puede ser mayor al km final</p>
                    <ion-item lines="none" style="width: 100%;">
                      <ion-label slot="start" style="font-size: 15px;font-weight: bold;width: 30%;">KM Término</ion-label>
                      <ion-input formControlName="km_f" mode="ios" placeholder="{{km_f}}" [class.error]="mayorF || menorF || menorFI" (ionInput)="myFunction($event,'f')" clearInput="true" inputmode="decimal" style="border: 1px solid darkgray;border-radius: 5px;padding-left: 5px !important;"></ion-input>
                    </ion-item>
                    <p *ngIf="menorF" class="p_error">No puede ser menor al km {{km_i}}</p>
                    <p *ngIf="mayorF" class="p_error">No puede ser mayor al km {{km_f}}</p>
                    <p *ngIf="menorFI" class="p_error">No puede ser menor al km  inicial</p>
                    <ion-item lines="none" style="width: 100%;">
                      <ion-label  style="font-size: 15px;font-weight: bold;">Fecha Emergencia</ion-label>
                      <span  *ngIf="!firstFormGroup.value.fechaEmergencia" (click)="abrirModal()" class="fechaHora">dd/mm/yy hh:mm</span>
                      <span  *ngIf="firstFormGroup.value.fechaEmergencia" class="fechaHora" style="margin:0;text-decoration: underline;" (click)="abrirModal()">{{firstFormGroup.value.fechaEmergencia | date:'dd/MM/yy hh:mm a'}}</span>
                    </ion-item>     
                  </div>
                </div>
              </ion-accordion>
            </ion-accordion-group>
           
          </div>
        </ion-card>        
      </form>
      <div align="center" *ngIf="firstFormGroup.value.activoSeleccionado">
        <ion-button fill="clear" color="dark" (click)="selectTab(2)">
          Continuar <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </section>
    <section *ngIf="tab == 2">
      <ion-item lines="none" style="--background: transparent;">
        <ion-title style="margin-left: -3%;"><div class="ion-text-wrap">Operatividad y Daño</div></ion-title>
        <ion-button color="botonazul" (click)="tab = 0;mostrarMapa = true;" slot="end" fill="outline">
          <ion-icon name="close-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Operatividad y daño</ng-template>
        <ion-card center>
          <ion-label style="font-size: 17px;">Detalle Emergencia</ion-label>
          <ion-list style="margin-top: 3%;margin-bottom: 3%;">
            <ion-item lines="none" [class.select]="secondFormGroup.value.transito">
              <ion-label >Tránsito</ion-label>
              <ion-select mode="ios" interface="alert" placeholder="Selecciona tránsito" class="select-text" cancelText="Cancelar" okText="OK" title="Tránsito" formControlName="transito">
                <ion-select-option *ngFor="let item of transito" [value]="item.VALUE">{{item.VALUE}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item lines="none" *ngIf="secondFormGroup.value.transito == 'Con Restricción'" [class.select]="secondFormGroup.value.restriccion">
              <ion-label >Restricción</ion-label>
              <ion-select mode="ios" interface="alert" placeholder="Selecciona restricción" class="select-text" cancelText="Cancelar" okText="OK" title="Restricción" formControlName="restriccion">
                <ion-select-option *ngFor="let item of restriccion" [value]="item.VALUE">{{item.DESCRIPTION}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item lines="none" [class.select]="secondFormGroup.value.nivelAlerta">
              <ion-label>Nivel de alerta</ion-label>
              <ion-select mode="ios" interface="alert" placeholder="Selecciona alerta" class="select-text"  cancelText="Cancelar" okText="OK" title="Alerta" formControlName="nivelAlerta">
                <ion-select-option *ngFor="let item of nivelAlertaArray" [value]="item.VALUE">{{item.DESCRIPTION}}</ion-select-option>
              </ion-select>
            </ion-item>

          </ion-list>
        </ion-card>
        <div align="center" >
          <ion-button fill="clear" color="dark" (click)="selectTab(1)">
            Volver <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" color="dark" (click)="selectTab(3)">
            Continuar <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </form>
    </section>
    <section *ngIf="tab == 3">
      <ion-item lines="none" style="--background: transparent;">
        <ion-title style="margin-left: -3%;">Datos adicionales</ion-title>
        <ion-button color="botonazul" (click)="tab = 0;mostrarMapa = true;" slot="end" fill="outline">
          <ion-icon name="close-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
      <form [formGroup]="thirdFormGroup">
        <ion-card center>
          <ion-item>
            <ion-label position="stacked">Resumen <span style="color:red;font-size: 10px;">*</span></ion-label>
            <ion-textarea formControlName="titulo" placeholder="" clearInput="true" type="" style="--placeholder-color:black;resize: none;" rows="2" maxlength="100" required></ion-textarea>
          </ion-item>
          <p *ngIf="thirdFormGroup.controls['titulo'].hasError('required') && thirdFormGroup.controls['titulo'].touched" class="p_error">Debes ingresar un resumen<br></p>
          <span style="float: right;margin-right: 2%;">{{thirdFormGroup.value.titulo ? thirdFormGroup.value.titulo.length : '0'}}/100</span>
        </ion-card>
        <ion-card center>
          <ion-item>
            <ion-label position="stacked">Descripción detallada</ion-label>
            <ion-textarea formControlName="descripcion" placeholder="" clearInput="true" type="" style="--placeholder-color:black;resize: none;" rows="4" maxlength="300"></ion-textarea>
          </ion-item>
          <span style="float: right;margin-right: 2%;margin-bottom: 3%;">{{thirdFormGroup.value.descripcion ? thirdFormGroup.value.descripcion.length : '0'}}/300</span>
        </ion-card>

        <ion-list style="margin-top: 5%;background: transparent;" lines="none">
          <ion-item-sliding *ngFor="let file of images;let i = index" >
            <ion-item style="--background: transparent;">
              <ion-img [src]="file.data" style="height: 80%;width: 100%;"></ion-img>
            </ion-item>
            <ion-item-options  side="end">
              <ion-item-option expandable color="danger"  (click)="deleteImage(file)"><ion-icon slot="icon-only" name="trash"></ion-icon>Eliminar</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
        <ion-button expand="block" color="botonazul" (click)="presentActionSheet()">Adjuntar Foto</ion-button>
      </form>
      <div align="center" >
        <ion-button fill="clear" color="dark" (click)="selectTab(2)">
          Volver <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="dark" (click)="selectTab(4)">
          Continuar <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </section>
    <section *ngIf="tab == 4">
      <ion-item lines="none" style="--background: transparent;">
        <ion-title style="margin-left: -3%;">Resumen</ion-title>
        <ion-button color="botonazul" (click)="tab = 0;mostrarMapa = true;" slot="end" fill="outline">
          <ion-icon name="close-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-grid style="padding: 0;padding-bottom: 0%;">
        <ion-row align="center" class="tituloTable" style="background: #093F75;">
          <ion-col size="4" class="cierreTabla"><ion-label style="color: white;">Dato</ion-label></ion-col>
          <ion-col size="5" class="cierreTabla"><ion-label style="color: white;">Información</ion-label></ion-col>
          <ion-col size="3" class="cierreTabla"><ion-label style="color: white;">Estado</ion-label></ion-col>
        </ion-row>
        <ion-row align="center">
          <ion-col size="4" class="cierreTabla"><ion-label style="color: black;">Resumen</ion-label></ion-col>
          <ion-col size="5" class="cierreTabla"><ion-label style="color: black;">{{thirdFormGroup.value.titulo}}</ion-label></ion-col>
          <ion-col size="3" class="cierreTabla"><ion-icon style="font-size: 23px;" [style.color]="(thirdFormGroup.value.titulo != '' && thirdFormGroup.value.titulo) ? 'green' : 'red'" [name]="(thirdFormGroup.value.titulo != '' && thirdFormGroup.value.titulo) ? 'checkmark-circle': 'alert-circle'"></ion-icon></ion-col>
        </ion-row>
        <ion-row align="center" style="background: #093f753b">
          <ion-col size="4" class="cierreTabla"><ion-label style="color: black;">Camino</ion-label></ion-col>
          <ion-col size="5" class="cierreTabla"><ion-label style="color: black;" *ngIf="firstFormGroup.value.activoSeleccionado">{{firstFormGroup.value.activoSeleccionado.nombre_camino}}</ion-label></ion-col>
          <ion-col size="3" class="cierreTabla"><ion-icon style="font-size: 23px;" [style.color]="(firstFormGroup.value.activoSeleccionado != '' && firstFormGroup.value.activoSeleccionado) ? 'green' : 'red'" [name]="(firstFormGroup.value.activoSeleccionado != '' && firstFormGroup.value.activoSeleccionado) ? 'checkmark-circle': 'alert-circle'"></ion-icon></ion-col>
        </ion-row>
        <ion-row align="center">
          <ion-col size="4" class="cierreTabla"><ion-label style="color: black;">Fecha</ion-label></ion-col>
          <ion-col size="5" class="cierreTabla"><ion-label style="color: black;">{{firstFormGroup.value.fechaEmergencia | date:'dd/MM/yy hh:mm a'}}</ion-label></ion-col>
          <ion-col size="3" class="cierreTabla"><ion-icon style="font-size: 23px;" [style.color]="(firstFormGroup.value.fechaEmergencia != '' && firstFormGroup.value.fechaEmergencia) ? 'green' : 'red'" [name]="(firstFormGroup.value.fechaEmergencia != '' && firstFormGroup.value.fechaEmergencia) ? 'checkmark-circle': 'alert-circle'"></ion-icon></ion-col>
        </ion-row>
        <ion-row align="center" style="background: #093f753b;">
          <ion-col size="4" class="cierreTabla"><ion-label style="color: black;">KM Inicio</ion-label></ion-col>
          <ion-col size="5" class="cierreTabla"><ion-label style="color: black;"><span *ngIf="firstFormGroup.value.km_i"> Km</span> {{firstFormGroup.value.km_i}} </ion-label></ion-col>
          <ion-col size="3" class="cierreTabla"><ion-icon style="font-size: 23px;" [style.color]="(firstFormGroup.value.km_i != '' && firstFormGroup.value.km_i) ? 'green' : 'red'" [name]="(firstFormGroup.value.km_i != '' && firstFormGroup.value.km_i) ? 'checkmark-circle': 'alert-circle'"></ion-icon></ion-col>
        </ion-row>
        <ion-row align="center">
          <ion-col size="4" class="cierreTabla"><ion-label style="color: black;">KM Término</ion-label></ion-col>
          <ion-col size="5" class="cierreTabla"><ion-label style="color: black;"><span *ngIf="firstFormGroup.value.km_f"> Km</span> {{firstFormGroup.value.km_f}} </ion-label></ion-col>
          <ion-col size="3" class="cierreTabla"><ion-icon style="font-size: 23px;" [style.color]="(firstFormGroup.value.km_f != '' && firstFormGroup.value.km_f) ? 'green' : 'red'" [name]="(firstFormGroup.value.km_f != '' && firstFormGroup.value.km_f) ? 'checkmark-circle': 'alert-circle'"></ion-icon></ion-col>
        </ion-row>
        <ion-row align="center" style="background: #093f753b;">
          <ion-col size="4" class="cierreTabla"><ion-label style="color: black;">Tránsito</ion-label></ion-col>
          <ion-col size="5" class="cierreTabla"><ion-label style="color: black;">{{secondFormGroup.value.transito}}</ion-label></ion-col>
          <ion-col size="3" class="cierreTabla"><ion-icon style="font-size: 23px;" [style.color]="(secondFormGroup.value.transito != '' && secondFormGroup.value.transito) ? 'green' : 'red'" [name]="(secondFormGroup.value.transito != '' && secondFormGroup.value.transito) ? 'checkmark-circle': 'alert-circle'"></ion-icon></ion-col>
        </ion-row>
        <ion-row align="center" *ngIf="secondFormGroup.value.transito == 'Con Restricción'">
          <ion-col size="4" class="cierreTabla"><ion-label style="color: black;">Restricción</ion-label></ion-col>
          <ion-col size="5" class="cierreTabla"><ion-label style="color: black;">{{secondFormGroup.value.restriccion}}</ion-label></ion-col>
          <ion-col size="3" class="cierreTabla"><ion-icon style="font-size: 23px;" [style.color]="(secondFormGroup.value.restriccion != '' && secondFormGroup.value.restriccion) ? 'green' : 'red'" [name]="(secondFormGroup.value.restriccion != '' && secondFormGroup.value.restriccion) ? 'checkmark-circle': 'alert-circle'"></ion-icon></ion-col>
        </ion-row>
        <ion-row align="center" [style.background]="secondFormGroup.value.transito == 'Con Restricción' ? '#093f753b' : 'white'">
          <ion-col size="4" class="cierreTabla"><ion-label style="color: black;">Nivel</ion-label></ion-col>
          <ion-col size="5" class="cierreTabla"><ion-label style="color: black;">{{secondFormGroup.value.nivelAlerta}}</ion-label></ion-col>
          <ion-col size="3" class="cierreTabla"><ion-icon style="font-size: 23px;" [style.color]="(secondFormGroup.value.nivelAlerta != '' && secondFormGroup.value.nivelAlerta) ? 'green' : 'red'" [name]="(secondFormGroup.value.nivelAlerta != '' && secondFormGroup.value.nivelAlerta) ? 'checkmark-circle': 'alert-circle'"></ion-icon></ion-col>
        </ion-row>
        <ion-row align="center" [style.background]="secondFormGroup.value.transito == 'Con Restricción' ? (secondFormGroup.value.elemento ? '#093f753b' : 'white') : (secondFormGroup.value.elemento ? 'white' : '#093f753b')">
          <ion-col size="4" class="cierreTabla"><ion-label style="color: black;">Competencia</ion-label></ion-col>
          <ion-col size="5" class="cierreTabla"><ion-label style="color: black;">{{secondFormGroup.value.competencia}}</ion-label></ion-col>
          <ion-col size="3" class="cierreTabla"><ion-icon style="font-size: 23px;" [style.color]="(secondFormGroup.value.competencia != '' && secondFormGroup.value.competencia) ? 'green' : 'red'" [name]="(secondFormGroup.value.competencia != '' && secondFormGroup.value.competencia) ? 'checkmark-circle': 'alert-circle'"></ion-icon></ion-col>
        </ion-row>
        <ion-row align="center" [style.background]="secondFormGroup.value.transito == 'Con Restricción' ? (secondFormGroup.value.elemento ? 'white' : '#093f753b') : (secondFormGroup.value.elemento ? '#093f753b' : 'white')">
          <ion-col size="4" class="cierreTabla"><ion-label style="color: black;">Descripción detallada</ion-label></ion-col>
          <ion-col size="8" class="cierreTabla"><p style="color: black;text-align: left;">{{thirdFormGroup.value.descripcion}}</p></ion-col>
        </ion-row>
      </ion-grid>
      <div align="center" >
        <ion-button fill="clear" color="dark" (click)="selectTab(3)">
          Volver <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </div>
      <div align="center" >
        <ion-button expand="block"  color="botonazul" (click)="enviar()"  [disabled]="!firstFormGroup.valid  || !secondFormGroup.valid || !thirdFormGroup.valid || !dataPosicion.lat || !dataPosicion.lng || !dataPosicion.region || mayorI || mayorF || menorI || menorF || menorFI || mayorIF">
          REPORTAR <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
        </ion-button>
      </div>
    </section>



  <ion-modal #modal trigger="open-modal"  [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation">
    <ng-template>
      <ion-content class="modalTime">
        <form [formGroup]="firstFormGroup">
        <ion-datetime first-day-of-week="1" size="cover" locale="es-CL" [max]="hoy" formControlName="fechaEmergencia" color="dark"
        showDefaultButtons="true" mode="ios"
        done-text="Aceptar"  cancel-text="Cancelar">
          <span slot="title" style="font-weight: bold;">Selecciona la Fecha de la emergencia</span>
          <span slot="time-label">Hora</span>
        </ion-datetime>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
<ion-footer *ngIf="footer">
  <ion-segment [value]="tab" mode="ios" swipeGesture="false" >
    <ion-segment-button [disabled]="caminosEncontrados.length <= 0 && !firstFormGroup.value.activoSeleccionado" value="1" (click)="selectTab(1)" [ngClass]="tab == 1 ? 'selectTab' : ''">
      <ion-label>Activo</ion-label>
      <ion-icon name="distance"></ion-icon>
    </ion-segment-button>
    <ion-segment-button [disabled]="caminosEncontrados.length <= 0 || !firstFormGroup.value.activoSeleccionado" value="2" (click)="selectTab(2)" [ngClass]="tab == 2 ? 'selectTab' : ''">
      <ion-label>Operatividad</ion-label>
      <ion-icon name="construct"></ion-icon>
    </ion-segment-button>
    <ion-segment-button [disabled]="caminosEncontrados.length <= 0 || !firstFormGroup.value.activoSeleccionado" value="3" (click)="selectTab(3)" [ngClass]="tab == 3 ? 'selectTab' : ''">
      <ion-label>Datos</ion-label>
      <ion-icon name="create"></ion-icon>
    </ion-segment-button>
    <ion-segment-button [disabled]="caminosEncontrados.length <= 0 || !firstFormGroup.value.activoSeleccionado" value="4" (click)="selectTab(4)" [ngClass]="tab == 4 ? 'selectTab' : ''">
      <ion-label>Resumen</ion-label>
      <ion-icon name="document-text"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-footer>
