<ion-content>
  <ion-list no-border lines="none" style="padding: 0;margin:0%;" text-wrap>
    <ion-item detail button (click)="tipoMapa()"><ion-icon name="map" item-start detail-push></ion-icon>{{tipo}}</ion-item>
    <ion-item detail button (click)="redVial()"><ion-icon name="distance" item-start detail-push></ion-icon>{{redvial ? 'Desactivar Red Vial' : 'Activar Red Vial'}}</ion-item>
    <ion-item detail button (click)="posicion()"><ion-icon name="locate" item-start ></ion-icon>{{posicionT}}</ion-item>
    <ion-item detail button (click)="centrar()"><ion-icon name="location" item-start ></ion-icon>{{centrarT}}</ion-item>
  </ion-list>
</ion-content>
