<ion-header>
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container"  #mapContainer>
    <div id="custom-button" class="custom-button">
      <div (click)='customZoom()' class="icon-button">
          <ion-icon name="map-outline"></ion-icon>
      </div>
      <div (click)='customZoom()' class="icon-button">
        <ion-icon name="locate-outline"></ion-icon>
      </div>
    </div>
    <div id="custom-button2" class="custom-button2">
      <div (click)='customZoom()' class="icon-button">
        <ion-icon name="expand-outline"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
