<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" >
      <ion-menu-button style="color: white;" ></ion-menu-button>
    </ion-buttons>
    <ion-title>Historial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group *ngIf="mostrar" mode="ios" style="margin-bottom: 5%;margin-top: 3%;" [value]="alertas.length > 0 ? alertas[0].id : null" >
    <ion-accordion [value]="alertas[i].id" *ngFor="let item of alertas;let i = index">
      <ion-item slot="header" color="accordion">
        <ion-badge slot="start" color="medium">{{item.id}}</ion-badge>
        <ion-label style="font-weight: bold;">{{item.titulo}}</ion-label>
      </ion-item>
      <div class="ion-padding contenido" slot="content" align="center">
          <ion-grid>
            <ion-row>
              <p style="word-break: break-all;"><span>Descripción:</span> {{item.descripcion}}</p>
            </ion-row>
            <ion-row *ngIf="item.error != 'vialidad'">
              <ion-col size="12" >
                <ion-row>
                  <p><span>Fecha de envío:</span> {{ item.name | date:'dd/MM/yyyy HH:mm'}}</p>
                </ion-row>
                <ion-row *ngIf="item.error == 'doh' && item.location">
                  <p><span>Código:</span> {{item.location}}</p>
                </ion-row>
                <ion-row>
                  <p><span>Nivel de Alerta:</span> {{item.nivelalerta}}</p>
                </ion-row>
                <ion-row>
                  <p><span>Operatividad:</span> {{item.operatividad}}</p>
                </ion-row>
                <ion-row>
                  <ion-col size="6"><span>Latitud:</span> {{item.lat}}</ion-col>
                  <ion-col size="6"><span>Longitud:</span> {{item.lng}}</ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="item.error == 'vialidad'">
              <ion-row>
                <p><span>Fecha de envío:</span> {{item.date | date:'dd/MM/yyyy HH:mm'}}</p>
              </ion-row>
              <ion-row>
                <ion-col size="12" >
                  <ion-row>
                    <p><span>Camino:</span> {{item.name}}</p>
                  </ion-row>
                  <ion-row>
                    <p><span>Código:</span> {{item.codigo}}</p>
                  </ion-row>
                  <ion-row>
                    <p><span>Nivel de Alerta:</span> {{item.nivelalerta}}</p>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row style="width: 100%;">
                <p><span>Tránsito:</span> {{item.transito}}</p>
              </ion-row>
              <ion-row style="width: 100%;" *ngIf="item.restriccion">
                <p><span>Restricción:</span> {{item.restriccion}}</p>
              </ion-row>
              <ion-row style="width: 100%;">
                <p><span>Competencia:</span> {{item.competencia}}</p>
              </ion-row>
              <ion-row style="width: 100%;">
                <p><span>Fecha Emergencia:</span> {{item.fechaEmergencia | date:'dd/MM/yy hh:mm a'}}</p>
              </ion-row>
              <ion-row style="width: 100%;margin-bottom: 3%;">
                <ion-col size="6"><span>KM Inicio:</span> {{item.km_i}}</ion-col>
                <ion-col size="6"><span>KM Término:</span> {{item.km_f}}</ion-col>
              </ion-row>
              <ion-row style="width: 100%;">
                <ion-col size="6"><span>Latitud:</span> {{item.lat}}</ion-col>
                <ion-col size="6"><span>Longitud:</span> {{item.lng}}</ion-col>
              </ion-row>
            </ion-row>
          </ion-grid>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <div *ngIf="alertas.length == 0" style=" position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);">
    <div style="text-align: center;">    
      <ion-label>No se ha encontrado historial de emergencias enviadas</ion-label>
    </div>
    <div style="text-align: center;" >
      <ion-icon name="sad-outline"></ion-icon>
     </div>
  </div>
  
</ion-content>
